/* global styles */
* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Myriad Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #B6B6B6;
}

a:hover  {
    color: royalblue;
}

ul {
    list-style: none;
}

p {
    padding: 30px 0 120px;
    
}

img {
    display: block;
    width: 100%;
}

/* header */
header {
    align-items: center;
    padding: 20px 0 50px 0;
    
}

header a {
    color: #3b3b3b;
}

.container {
    display: flex;
    max-width: 1200px;
}

/* main */
main a {
    padding: 20px 0 20px;
    color: #ceaf82;
    margin: 0;
}

article {
    display: flex;
    flex-wrap: wrap;
}

.content-items {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 40px 0;
}

.content-shrink {
    width: 50%;
    display: flex;
}

/* footer */
footer {
    display: flex;
    padding: 0px 0 20px;
}

button {
    border: 1px solid #343434;
    background-color: white;
    width: 120px;
    height: 40px;
}

button:hover {
    background-color: bisque;
}