/* global styles */
* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #B6B6B6;
}
a:hover  {
    color: royalblue;
}

ul {
    list-style: none;
}
/* header */
.container {
    display: flex;
    max-width: 1000px;
}
header {
    align-items: center;
    padding: 20px 0 50px 0;
}
/* main */
.content-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.content-item {
    width: 50%;
    display: flex;
    align-items: flex-start;
}
.content-item:nth-child(2n) {
    /* margin-bottom: 100px; */
}
